@font-face {
    font-family: "mono";
    src: url(../fonts/MonoRegular-jEmAR.ttf) format("truetype");
}

:root {
    overflow-x: hidden;
}

html {
    min-height: 100%;
    background-image: url('../bgh.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;    
    background-color: rgb(1, 21, 35);
}

body, html {
    font-family: "mono", monospace;
    color: white;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.4em;
    overflow: hidden;
}

#logo {
    width: 50px;  
    cursor: pointer;  
}

#body-border {
    margin: 20px 0;
    position: relative;
    max-width: 600px;
    min-height: 28vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ffffffa8;
    border-radius: 30px;
    box-shadow: 0px 0px 4px 1px black;}

.chart {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;
    max-width: 600px;
    height: 25vh;
}

#myChart {
    max-width: calc(100% - 20px);
    min-width: 250px;

}

