@font-face {
    font-family: "mono";
    src: url(../fonts/MonoRegular-jEmAR.ttf) format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100%;
    background-color: rgb(1, 21, 35);
}

#github-link {
    position: absolute;
    top: 16px;
    right: 16px;
    color: white;
    height: 22px;
}

#github-link i:hover {
    scale: 1.1;
}

:root {
    overflow-x: hidden;
}

#logo {
    width: 50px;    
    cursor: pointer;
}

body {
    font-family: "mono", monospace;
    color: white;
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.4em;
    overflow: hidden;
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 300px);
}

#body-border {
    margin: 20px 0;
    position: relative;
    width: 96%;
    height: 96%;
    min-height: 95vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #00000021;
    border-radius: 30px;
    box-shadow: 0px 0px 4px 3px black;
}

header {
    margin: 25px;
    width: 90%;
    text-align: center;
}

hr {
    margin-top: 15px;
    width: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}

#form-border {
    position: relative;
    margin-top: 20px;
    font-size: 1.6rem;
    width: 321px;
    height: 159px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(35deg, rgb(217, 219, 221) 40%, rgb(91, 0, 227) 60%);
    border-radius: 22px;
    z-index: 2;
}

#form-background {
    position: relative;
    background-size: cover;
    transform: rotate(180deg);
    width: 98%;
    height: 96%;
    border-radius: 21px;
    background-color: rgb(0, 22, 34);
    display: flex;
    justify-content: center;
    align-items: center;
}

#form {
    background: transparent;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    transform: rotate(180deg);
}

#location {
    font-size: 1rem;
    margin-top: 5px;
    width: 13rem;
    padding: 5px;
    border: 2px solid black;
    outline: 2px solid #d9dbdd;
    background: #d9dbdd;
    border-radius: 6px;
    caret-color:rgb(109, 0, 0);
}

#suggestions {
    display: none;
    flex-direction: column;
    width: 13rem;
    background-color: white;
    margin-top: 3px;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    top: 87px;
    z-index: 2;
}

#suggestions li {
    list-style: none;
    font-size: .8rem;
    color: black;
    cursor: pointer;
    padding: 5px;
}
#suggestions li:hover {
    background-color: rgb(114, 114, 114);
}

#suggestions li:not(:first-child) {
    border-top: 1px solid black;
}


form label {
    padding: 10px;
    padding-top: 15px;
    font-size: 1rem;
}

#submit {
    font-family: 'mono';
    margin-top: 20px;
    font-size: 1rem;
    position: relative;
    width: 80px;
    height: 1.5rem;
    padding-top: 2px;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 7px;
    color: white;
    cursor: pointer;
    display: none;
}

#submit:hover, #submit:focus {
    transform: scale(1.05);
}

#country {
    width: 150px;
}

#weather-results {
    position: relative;
    margin-top: 50px;
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.weather-item {
    margin: 0 10px;
    padding: 10px;
    border: 2px solid rgb(129, 122, 122);
    width: 8rem;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: left;
    scale: .3;
    max-height: 156px;
    cursor: pointer;
}

#day4:active {
    border-color: yellow;
}

.weather-item:hover {
    transform: scale(1.1);
}

#day4 {
    width: 275px;
    flex-direction: row;
    justify-content: space-evenly;
}

#day4-header {
    position: relative;
    width: 105px;
}

#vertical-divider {
    height: 120px;
    width: 1px;
    background-color: rgb(187, 178, 178);
    border-radius: 3px;
    margin: 20px;
}

#current-day {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 105px;
}

#current-temp {
    font-size: 2.5rem;
}

#current-weather {
    font-size: 1rem;
}

#day4-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#weather-grid:first-child .weather-item .inline-span {
    width: fit-content;
}
#weather-grid:first-child .weather-item .inline-span .date {
    margin-right: 10px;
}

#weather-grid {
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.weather-item-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#results-header {
    max-width: 85vw;
    text-align: center;
}

.weather-icon {
    font-size: 1.8rem;
    margin: -5px;
}

.date {
    margin-right: 19px;
    font-size: 0.9em;
}

.emoji-percent-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#day4 .inline-span {
    max-width: none;
}

.inline-span {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
}

.percip-percent {
    font-size: 0.8em;
    margin-bottom: 5px;
}

.weather-data {
    position: relative;
    text-align: center;
}

.max-temp,
.min-temp {
    color: rgb(189, 182, 182);
}

.weather-data * {
    margin: 0;
}

.fa-droplet {
    font-size: 0.8em;
}

.percip-data {
    display: inline-block;
    font-size: 0.8em;
    width: max-content;
    margin-left: 5px;
}

.slider-container {
    /* margin-top: 20px; */
    position: absolute;
    top: 5px;
    right: 4px;
    width: 55px;
    height: 30px;
    display: flex;
    flex-direction: row;
    color-scheme: only light;
    transform: rotate(180deg);
    scale: .8;
}

.border {
    width: 30px;
    height: 30px;
}

.slider-border-left {
    border-radius: 50% 0% 0% 50%;
    border-left: 1px solid rgb(114, 114, 114);
    border-top: 1px solid rgb(114, 114, 114);
    border-bottom: 1px solid rgb(114, 114, 114);
  
}
.slider-border-right {
    border-radius: 0% 50% 50% 0%;
    border-right: 1px solid rgb(114, 114, 114);
    border-top: 1px solid rgb(114, 114, 114);
    border-bottom: 1px solid rgb(114, 114, 114); 
}

.slider {
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: white;
    margin-top: 4px;
    margin-left: 4px;
    text-align: center;
    transition: .3s ease;
    left: 0;
}

#slider-text {
    font-size: 1.2rem;
    position: relative;
    color: black;
    letter-spacing: -3px;
    right: 3px;
    bottom: 5px;
}

.slider-checkbox {
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.slider-checkbox:checked ~ .slider {
    left: 25px;   
}

#chart-map-desc-container {
    display: none;
    flex-direction: column;
}

#map-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 550px;
    height: 285px;
    border-radius: 10px;
}

#sun-times {
    position: absolute;
    left: 5px;
    top: 10px;
    padding: 5px;
    background-color: #00091078;
    color: white;
    font-family: 'mono', monospace;
    font-size: 1rem;
    border-radius: 5px;
    text-align: left;
}


#directions-link {
    position: absolute;
    bottom: 5px;
    right: 5px;
    cursor: pointer;
    font-size: 0.8em;
    color: black;
    text-decoration: none;
}

a:visited{
    color: black;
}

#charts-description {
    margin-left: 5px;
    margin-top: 50px;
}

.chart {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 550px;
    height: 295px;
    background-color: rgba(0,0,0, 0.5);
    border-radius: 10px;
    padding: 5px;
}

.chart-dropdown {
    position: absolute;
    top: 8px;
    left: 8px;
    background-color: rgb(91, 0, 227);
    color: white;
    border-radius: 5px;
    border: transparent;
    cursor: pointer;
    font-family: 'mono', monospace;
    padding: 5px;
}

option, select {
    cursor:pointer;
}

h3 {
    max-width: 85vw;
}

#map {
    height: 100%;
    width: 100%;
    object-fit: cover;
    padding: 0; 
}

#map-overlay {
    width: 100%;
    height: 100%;
    background-color: #00000063;
    position: absolute; 
    border-radius: 10px;

}

/* circles will be rotated based on azimuth */
/* .sun-icons need to be rotated the opposite direction*/
#sunrise-circle, #sunset-circle {
    aspect-ratio: 1 / 1;
    height: 90%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    position: absolute;
}

.sun-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    height: min-content;
    font-size: 1.8rem;
    position: relative;
    top: 100%;
}

.sun-icons .fa-arrow-up, .sun-icons .fa-arrow-down {
    position: absolute;
    top: 15px;
    font-size: .8rem;
}

#results-charts-container {
    display: flex;
    gap: 5px;
}

.chart-map-container {
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: center;
}


@media(max-width: 1150px) {
    #results-charts-container {
        flex-direction: column;
    }

    #chart-map-desc-container {
        align-items: center;
    }

    #charts-description {
        margin-top: 0;
    }

    h3 {
        text-align: center;
        max-width: 85vw;
    }
}

@media(max-width: 755px) {
    .chart, #map-container {
        width: 525px;
        height: 255px;
    }
}


@media(max-width: 560px) {
    .chart:not(#map) {
        scale: .8;
    }

    #map-container {
        width: 420px;
        height: 200px;
        margin-top: -20px;
        margin-bottom: 20px;
    }

}

@media (max-width: 525px) {
    header {
        font-size: 0.9rem;
    }

    #weather-grid {
        scale: .8;
        margin-top: -45px;
        height: 696px; 
    }

    #charts-description{
        text-align: center;

    }

    #map-container {
        margin-top: -35px;
    }

    #chart-map-desc-container {
        margin-top: -70px;
        gap: 0;
    }
}


@media(max-width: 450px) {
    .chart-dropdown {
        left: auto;
        top: 10px;
        scale: 1.5;
    }

    #chart-map-desc-container {
        margin-top: -70px;
    }
    
    .chart:not(#map) {
        scale: .65;
    }

    #map-container {
        width: 340px;
        height: 165px;
        margin-top: -45px;
    }

    .chart-map-container {
        margin-top: -20px;
    }

    #sun-times {
        font-size: .7rem;
    }
}

@media(max-width: 360px) {
    #weather-results {
        scale: .9;
    }
}
